<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <% # method to automatically prevent Cross-Site Request Forgery %>
  <%= csrf_meta_tags %>
  <% # partial for the HTML shim %>
  <%= render 'layouts/shim'%>
</head>
<body>
  <% # partial for the header %>
  <%= render 'layouts/header' %>
  <div class="container">
    <% # the flash message; it supports different type of communications %>
    <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
    <%= yield %>
    <% # partial for the footer %>
    <%= render 'layouts/footer' %>
  </div>
</body>
</html>
